// App header
.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fafafa;
  box-shadow: 0 0 2px gray;

  // App title
  .title {
    margin: 0;

    a {
      color: unset;
    }
  }

  .logo {
    width: 32px;
    margin-right: 1rem;
  }
}

// App content
.content {
  padding: 20px;
}

// App footer
.footer {
  text-align: center;
}

.authUserBadge {
  margin-left: auto;
}
