// App header
.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;

  // App title
  .title {
    color: white;
    margin: 0;
  }
}

// App content
.content {
  padding: 20px;
}

// App footer
.footer {
  text-align: center;
}

// Todo additon form
.todoForm {
  position: sticky;
  top: 64px;
  z-index: 1;
  background-color: #f0f2f5;
}
